.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px;
  border-bottom: 1px solid #eaeaea;
}

.main .header h1 {
  font-size: 20px;
}

.main .mission {
  max-width: 600px;
  text-align: center;
  line-height: 2;
  letter-spacing: 1cm;
}

.main nav {
  float: right;
}

.main nav ul {
  display: flex;
  flex-direction: row;
  gap: 10%;
  list-style: none;
}

.main nav ul li {
  display: inline-block;
  font-weight: 100;
  letter-spacing: .15cm;
}

.footer {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 10%;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

